@import "utilities.scss";
@import '../../node_modules/react-modal-video/scss/modal-video.scss';

body{
    margin: 0;
    padding: 0;
    color: $white;
    font-family: $myriadRegular;
    font-size: 14px;
    height: auto;
    width: 100%;
    position: relative;
}
@include font-size-classes;
.navbar{
    &.trans-nav{
        background-color: transparent;
        @extend .p-absolute;
        top:16px;
        left: 0;
        right: 42px;
        padding: 0px;
        .logo-img{
            padding: 0px;
            margin-right: -15px;
            text-align: right;
            img{
                max-width: 85%;
                height: auto;
            }
        }
    }
}

/* Title common*/
.white-title,
.black-title{
    font-family: $myriadBold;
    margin-bottom: 40px;
    letter-spacing: 3.36px;
}
.white-title{
    color: $white;
}
.black-title{
    color: $c242424;
}

/* banner component Css*/
.web-banner{
    background-image: url('/assets/banner-bg.png');
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 40px;
    .portrait-img{
        width: 24%;
        top: 80px;
        right: 350px;
        @extend .p-absolute;
        z-index: 9;
        overflow: hidden;
    }
    .web-text{
        margin-top: 10%;
       
        @include breakpoint-up('lg') {
            margin-top: 10vh;
        }
        @include breakpoint-up('xl') {
            margin-top: 15vh;
        }
        @include breakpoint-up('xxl') {
            margin-top: 22vh;
        }
        h1{
            font-family: $myriadBold;
            line-height: 1;
            text-transform: uppercase;
            text-decoration: none;
        }
        p{
            font-family: $myriadRegular;;
            font-weight: 100;
            line-height: 1;
            text-decoration: none;
            margin-bottom: 0px;
        }
    }
    .icon-youtube{
        @extend .p-absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .img-overlay {
        background-color: #000;
        box-shadow: -6px 4px 3px 3px rgba(0, 0, 0, 0.27);    
    }
    .thum-box{
        @extend .p-absolute;
        top: 4rem;
        width: 100%;
        .youtube-thumb{
            opacity: 0.5;
            width: 100%;
            height: auto;
        }
    }
    .cloud-left {
        @extend .p-absolute;
        width: 8%;
        top: 80px;
        left: 10%;
    }
    .cloud-right {
        @extend .p-absolute;
        right: 100px;
        top: 140px;
        width: 11%;
    }    
}

/* Calculater component Css*/
.calc-main{
    background-image: url('/assets/related.svg');
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 99;
    position: relative;
    padding: 40px;
    .calc-bg-box{
        background-image: url('/assets/calc.svg');
        background-color: #1d1d1d;
        background-size: auto;
        background-repeat: no-repeat;
        margin-bottom: 40px;
        border-radius: 9px;
    }
  
    .calc-inner{
        padding-top: 10px;
        .text-label{
            color:$white;
            line-height: 25px;
            font-family: $myriadBold;
            letter-spacing: -0.22px;
            padding-left: 38px;
            padding-right: 38px;
            width: 180px;
            text-transform: uppercase;
            margin-bottom: 0px;
        }
        .pre-text{
            color:$white;
            line-height: 25px;
            font-family: $myriadBold;
            letter-spacing: -0.22px;
            text-transform: uppercase;
        }
        .pre-rate{
            text-transform: uppercase;
            margin-left: 60px;   
            color:$white;
            line-height: 25px;
            font-family: $myriadBold;
            letter-spacing: -0.22px;
        }
        .br-left{
            margin-left: 60px;
            border-left: 2px solid #1d1d1d;
        }
        .fancy-input{
            padding: 10px 7px 10px 11px;
            width: calc(100% - 196px);
            display: inline-block;
            height: 111px;
            border-left: 2px solid #1d1d1d;
        }
        .fancy-input-auto{
            padding: 10px 7px 10px 11px;
            display: inline-block;
            height: 111px;
            width: 120px;
            border-left: 2px solid #1d1d1d;
           
        }
        .fancy-input-auto,
        .fancy-input
        {   
            input{
                width: 100%;
                height: 100%;
                background-color: transparent;
                border:none;
                outline: none;
                @extend .p-relative;
                -webkit-box-shadow: 1px -2px 10px 5px #242424 inset;
                -moz-box-shadow: 1px -2px 10px 5px #242424 inset;
                box-shadow: 1px -2px 10px 5px #242424 inset;
                z-index: 10;
                -webkit-appearance: none;
                color:$white;
                font-size: 90px;
                line-height: 10px;
                font-family: 'digitaldisplaytfb';
                padding:7.5px;
                cursor: pointer;
            }
            #total{
                cursor: none;
            }
        }
    }
    .cal-btn{
        border-top: 2px solid #1d1d1d;
        text-align: center;
        padding: 20px 0px 10px;
        button{
            background-image: url('/assets/yellow.png');
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: none;
            border: none;
            text-transform: uppercase;
            line-height: 25px;
            font-family: $myriadBold;
            letter-spacing: -0.22px;
            background-color: transparent;
            width: 208px;
            height: 62px;
            font-size: 22px;
            &:hover,&:focus,&:active{
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
    }
    .cloud-left {
        @extend .p-absolute;
        width: 8%;
        top: 10%;
        left: 8%;
    }
    .cloud-right {
        @extend .p-absolute;
        right: 0%;
        top: 22%;
        width: 11%;
    }    
    .poll-right {
        position: absolute;
        bottom: 0;
        right: 5%;
        height: 50%;
        overflow: hidden;
    }
    .poll-left {
        position: absolute;
        bottom: 0;
        left: 5%;
        height: 50%;
        overflow: hidden;
    }
    .pipe-right {
        position: absolute;
        bottom: 0;
        right: 40%;
        overflow: hidden;
        height: 80px;
    }
    .pipe-left {
        position: absolute;
        bottom: 0;
        left: 40%;
        overflow: hidden;
        height: 80px;
    }
}

/* related component Css*/
.related-main{
    background-image: url('/assets/related.svg');
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    figure{
        img{
            margin-bottom: 30px;
        }
        
        figcaption{
            color: #484848;
            line-height: 32px;
            font-family: $myriadBold;
        }
    }
    
}

/* Article component Css*/
.article-main{
    background-image: url('/assets/article.svg');
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    .short-text{
        font-size: 20px;
    }
    .article-content {
        overflow: auto;
        line-height: 1.5;
        font-family: $myriadRegular;
        font-size: 20px;
        height: 500px;
        max-height: 500px;
    }
    .article-slider-main{
        &:focus,
        &:active,
        &:hover{
            outline: none;
            border: none;
            box-shadow: none;
            background-color: transparent;
        }
    }
    .read-txt{
        text-transform: uppercase;
        font-family: $myriadBold;
        letter-spacing: 0.5px;
    }
}

/*Footer*/
footer{
    background-image: url('/assets/footer.png');
    background-color: #f2f2f2;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 72px 0 56px;
    font-family: $myriadRegular;
    font-weight: 100;
    .footer-social-icons {
        text-align: center;
        display: inline-block;
        margin-bottom: 25px;
        a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
            &:hover,&:focus,&:active{
                color:#fff;
            }
        
        }
        .s-icon{
            color: #fff;
            height:41px;
            width: 41px;
            margin-left: 15px;
            background-image: url("/assets/social.png");
            &.icon-fb{
                background-position: 0 0
            }
            &.icon-twitter{
                background-position: 0 -161px;
            }
            &.icon-linkedin{
                background-position: 0 -322px
            }
            &.icon-utube{
                background-position: 0 -486px
            }
        }
    }
}